.contact-page-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: #002358;

  .contact-header {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    color: white;
    text-align: center;
    margin-top: 100px;
  }
  .contact-subheading {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.71);
    margin-top: 20px;
    text-align: center;
  }
  .contact-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    flex-direction: column;
    width: 60%;
    p {
      color: white;
      font-family: Raleway;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
    }
    input {
      height: 35px;
      font-size: 25px;
      border-radius: 2px;
      outline: none;
      border: none;
      font-family: Roboto;
      padding: 5px;
    }
    textarea {
      min-height: 115px;
      border-radius: 2px;
      font-size: 25px;
      font-family: Roboto;
      padding: 5px;
    }
    button {
      margin-top: 20px;
      height: 50px;
      border-radius: 2px;
      background: #e31b6d;
      border: none;
      font-family: Raleway;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #ffffff;
    }
  }
}
