@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

header {
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 100;
  @include for-phone-only {
    position: -webkit-sticky;
    display: none;
  }
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 53px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    background: #00072e;
    cursor: pointer;

    .home {
      margin-left: 130px;
    }
    a {
      margin-left: 44px;
      color: white;
      text-decoration: none;
      outline: none !important;
      border: none;
      .active {
        color: rgb(230, 57, 70) !important;
        outline: none !important;
        border: none;
      }
    }
  }
}
